<!DOCTYPE html>
<html>
<head>
    <title>UEFA Euro 2020 Team Performance in 3D</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
        #plotly-div {
            flex: 1;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">UEFA Euro 2020 Team Performance in 3D</h1>
    <div id="plotly-div"></div>
    <script type="text/javascript">
        var graph_json = {{ graph_json|safe }};
        Plotly.newPlot('plotly-div', graph_json.data, graph_json.layout);

        // Ensure the plot resizes when the window is resized
        window.onresize = function() {
            Plotly.Plots.resize(document.getElementById('plotly-div'));
        };
    </script>
</body>
</html>
